*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:  black 2px solid; */
    height: 88px;
    padding: 16px 64px 16px 64px;
    gap: 10px;
    width: 1440px;
}
.main-text{
    display: flex;
    /* border:  black 2px solid; */
    justify-content: space-between;
    width: 1312px;
    height: 56px;

}

.logo{
    width: 176px;
    height: 55px;
}

.list{
    width: 964px;
    height: 56px;
    gap: 64px;
    display: flex;
    /* border: 2px black solid; */
    align-items: center;
    justify-content: space-between;
}

.nav{
    width: 736px;
    height: 24px;
    gap: 32px;
    display: flex;
    /* border: 2px solid black; */
}

.nav li{
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    list-style: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav li a {
    text-decoration: none;
    color:  #212121;
}

.btn {
    width: 164px;
    /* height: 56px; */
    border-radius: 8px;
    padding: 16px 32px 16px 32px;
    justify-content: space-between;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight:600px;
    text-align: center;
}